<div class="flex flex-col space-y-2 text-sm">
  <% if @label_text != '' %>
    <div class="flex items-center space-x-1">
      <label for="<%= @id %>" class="font-medium text-sm"><%= @label_text %></label>
      <span class="cursor-help"><%= helpers.icon('info') %></span>
    </div>
  <% end %>
  <input id="<%= @id %>" class="bg-gray-50 border-gray-300 text-sm rounded-lg px-4 py-3" type="text" value="<%= @value %>">
</div>
