<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <%= render 'layouts/navbar' %>
    <div class="flex">
      <%= render 'layouts/sidebar' %>
      <div class="flex flex-col space-y-4 p-4 grow">
        <%= render 'layouts/header' %>
        <div class="w-full bg-white p-6 shadow rounded-lg grow">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
